@mixin base-page-styles {
  .container-locations-page,
  .container-characters-page,
  .container-episodes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .filter-container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;


      .search-box {
        position: relative;

        .input-filter-name {
          height: 56px;
          padding: 10px 15px 10px 40px;
          border-radius: 8px;
          outline: none;
          overflow: hidden;
          border: 1px solid darken(#fff, 38%);
          font-size: 16px;
          line-height: 150%;

          &:focus {
            outline: 1px solid darken(#fff, 60%);
          }

          &:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          }
        }

        &::before {
          content: url("search-icon.svg");
          position: absolute;
          left: 12px;
          top: 55%;
          transform: translateY(-50%);
          font-size: 16px;
        }
      }

      .filter-species,
      .filter-gender,
      .filter-status,
      .filter-type,
      .filter-dimension {
        width: 240px;
        height: 56px;
        background: #ffffff;
        overflow: hidden;
        border: 1px solid darken(#fff, 38%);
        border-radius: 8px;

        &:focus,
        &:hover {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }

        select {
          background: none;
          display: inline-block;
          width: 95%;
          height: 100%;
          outline: none;
          color: #888888;
          cursor: pointer;
          padding: 10px 10px 10px 5px;
          text-overflow: '';
          text-indent: 5px;
          border: none;
          font-size: 16px;
          line-height: 19px;

          option[disabled] {
            display: none;
          }
        }
      }
    }
  }
}

@mixin cards-container-styles {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 36px;
}

@mixin hover-card-styles {
  transform: scale(1.02);
  cursor: pointer;
}

@mixin shadow-card-styles {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin card-info-styles {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
}

@mixin name-styles {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

@mixin description-styles {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: darken(#fff, 60%);
}

@mixin heading-details-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  position: relative;

  .button-go-back-container {
    position: absolute;
    top: 1%;
    left: 25%;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@mixin locations-and-episodes-styles {
  @include base-page-styles;

  .episodes-list,
  .locations-list {
    @include cards-container-styles;

    .location-container,
    .episode-container {
      @include shadow-card-styles;
      display: flex;
      border-radius: 4px;
      width: 240px;
      height: 128px;
      align-items: center;
      justify-content: center;
      background: darken(#fff, 2%);

      &:hover {
        @include hover-card-styles;
      }

      .location-info,
      .episode-info, {
        @include card-info-styles;
        align-items: center;

        .location-name,
        .episode-name {
          @include name-styles;
          text-align: center;
        }

        .location-type,
        .episode-air_date {
          @include description-styles;
        }
      }
    }
  }
}

@mixin characters-residents-list-styles {
  .container-location-details,
  .container-episode-details {
    @include heading-details-styles;

    .button-go-back-container {
      top: 0;
    }

    .full-info-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .title-info-h1 {
        text-align: center;
        color: #081F32;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
      }

      .episode-air_date-info-container,
      .type-dimension-info-container {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;

        .episode-title,
        .air_date-title,
        .type-title,
        .dimension-title {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.15px;
        }

        .episode-p,
        .air_date-p,
        .type-p,
        .dimension-p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: #6E798C;
        }
      }
    }

    .characters-list {
      @include cards-container-styles;
      position: relative;

      .residents-title,
      .character-title {
        position: absolute;
        top: -30px;
        left: 50px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #8E8E93;
      }

      .character-container {
        @include shadow-card-styles;
        border-radius: 4px;
        width: 240px;

        &:hover {
          @include hover-card-styles;
        }

        .character-image {
          width: 240px;
          height: 168px;
          overflow: hidden;
        }

        .character-info {
          @include card-info-styles;

          .character-name {
            @include name-styles;
          }

          .character-species {
            @include description-styles;
          }
        }
      }
    }
  }
}
