<app-header-navbar></app-header-navbar>
<div class="container-episodes-page">
  <img
    ngSrc="assets/png-episodes-page.png"
    alt="png-char-page"
    width="270"
    height="210"
    priority
  >

  <div class="filter-container">
    <div class="search-box">
      <input
        type="text"
        placeholder="Filter by name or episode (ex. S01 or S01E02)"
        class="input-filter-name"
        [formControl]="nameFilterControl"
      >
    </div>
  </div>

  <div class="episodes-list">
    <div
      class="episode-container"
      *ngFor="let episode of displayedEpisodes"
      (click)="_navigateService.navigateToEpisodeDetails(episode.id)"
    >
      <div class="episode-info">
        <h2 class="episode-name">{{ episode.name }}</h2>
        <p class="episode-air_date">{{ episode.air_date }}</p>
        <p class="episode-episode">{{ episode.episode }}</p>
      </div>
    </div>
  </div>

  <app-button-load-more
    [showLoadMore]="showLoadMore"
    (loadMoreClick)="onLoadMore()"
  ></app-button-load-more>
</div>
<app-footer></app-footer>
