<div class="container-header">
  <div
    class="icon-header"
    (click)="_navigateService.navigateToCharacters();"
  >
    <img
      ngSrc="assets/logo-black.svg"
      alt="logo"
      width="46"
      height="49"
    >
  </div>

  <div class="container-buttons">
    <button
      [ngClass]="{'characters-button': true, 'active': activeButton === 'characters'}"
      (click)="_navigateService.navigateToCharacters();"
    >
      Characters
    </button>

    <button
      [ngClass]="{'locations-button': true, 'active': activeButton === 'locations'}"
      (click)="_navigateService.navigateToLocations();"
    >
      Locations
    </button>

    <button
      [ngClass]="{'episodes-button': true, 'active': activeButton === 'episodes'}"
      (click)="_navigateService.navigateToEpisodes();"
    >
      Episodes
    </button>
  </div>
</div>

